<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Default Navigator -->

<ul th:fragment = "nav-default">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/products}">Products</a></li>
    <li><a th:href="@{/about}">About</a></li>
</ul>

<!-- Admin Navigator -->

<ul th:fragment = "nav-default">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/products}">Products</a></li>
    <li><a th:href="@{/about}">About</a></li>
</ul>

</body>
</html>